@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Sora', sans-serif;
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
}

.datePicker {
  width: 100%;
}

.react-datepicker-ignore-onclickoutside {
  width: 100% !important;
}

.react-datepicker__input-container input {
    width: 100%;
    padding: 9px 0px 9px 0px;
    font-size: 16px;
}